# Supabase Keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Project API keys
THIRDWEB_SECRET_KEY=
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=

# Token contract
NEXT_PUBLIC_TOKEN_ADDRESS=
NEXT_PUBLIC_TOKEN_CHAIN_ID=
THIRDWEB_SERVER_WALLET_ADDRESS=
